<form class="row" name=<%=name%> <%=data%>>		
	<%for(var i =0; i<columns.length;i++){
				if(!(columns[i].alias=="delete"||columns[i].alias=="update"||columns[i].alias=="create")){%>
					<div class="collumn">
						<input name="properties[<%=i%>][name]" type="hidden" value="<%=columns[i].alias%>" /> 
						<input name="properties[<%=i%>][value]" type="text" value="<%=data.getProperty(columns[i].alias)%>" style="width:96%; margin-left:2px"/> 
						<input name="properties[<%=i%>][type]" type="hidden" value="string" />
					</div>
				<%}}%>
</form>
